:root { /* Variablen deklarieren tihi*/
    --primary: #b9d4f1;
    --secondary: #9ca3af;
    --tertiary: #252525;
    --dark: #6a759b;
    --dark-2: #21273d;
}

::selection {
  background: var(--primary);
  color: var(--dark-2);
}

html {
    cursor: crosshair;
}

body {
    color: var(--primary);
    font-family: "Open Sans", sans-serif;
    background-color: var(--dark-2);
    height: 700vh;
    overflow-x: hidden;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 50px;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

.spacer-8 {
    margin-bottom: 160px !important;
}

.spacer-7 {
    margin-bottom: 140px !important;
}

.spacer-6 {
    margin-bottom: 120px !important;
}

.spacer-5 {
    margin-bottom: 100px !important;
}

.spacer-4 {
    margin-bottom: 80px !important;
}

.spacer-3 {
    margin-bottom: 60px !important;
}

.spacer-2 {
    margin-bottom: 40px !important;
}

.spacer-1 {
    margin-bottom: 20px !important;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    margin-bottom: 100px;
    border-radius: 0 0 20px 20px;
    background-color: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(5px);
    border-bottom: 2px solid var(--tertiary);
}


.fa-solid {
    display: inline-block;
    margin: 20px;
    color: var(--primary);
}

.col-xl-3.col-md-6.col-sm-12 {
    display: flex;
    justify-content: center;
}

.emo-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border: none;
    pointer-events: none;
    margin-bottom: 0;
  }

.emo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    position: relative;
}
.emo-img {
    width: 100%;
    height: auto;
    z-index: 1000;
}

.emo-text {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translateY(50%);
    z-index: 1001;
    font-size: 3rem;
    font-weight: 1000;
    -webkit-transform: skewX(-13deg);
    transform: skewX(-13deg);
}

.emo-text::before {
    content: '';
    position: absolute;
    top: -0px;
    left: -20px;
    right: -20px;
    bottom: -0px;
    background-color:  #fc0;
    z-index: -1;
}

.emo-text span  {
    color: black;
}


@media (max-width: 1199px) {
    .emo-text {
        top: 20%;
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .emo-text {
        top: 30%;
        font-size: 0.9rem;
    }
}


main.content {
    width: 80%;
    margin: auto;
}

#icons-desktop .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#icons-desktop .col-xl-6:last-child {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list-item {
    margin-left: 20px;
}
.nav-list-item:hover {
    background-color: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(5px);
    border-radius: 50px;
}


#icons-mobile .col-md-12 {
    text-align: right;
    padding: 10px 20px;
}

.logo {
    pointer-events: none;
}

@media (min-width: 1200px){ /* Weil Mobile kein Cursor hat ;) */
    .cursor-shadow {
    position: absolute;
    width: 540px;
    height: 540px;
    background: radial-gradient(
        circle,
        rgba(162, 152, 197, 0.096) 0%,
        rgba(33, 39, 61, 0) 70%
    );
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: left 0.1s ease-out, top 0.1s ease-out;
    z-index: 1;
}
}

@media (max-width: 1199px) { /* Zeige Bar-Icon an aber nur auf Mobile */
    #icons-desktop {
        display: none;
    }
    
    #icons-mobile {
        display: inline-block;
    }
    
    header {
        padding: 10px !important;
    }
    
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.375rem;
    }
    
    h3 {
        font-size: 1.25rem;
    }
    
    h4 {
        font-size: 1.125rem;
    }
    
    h5 {
        font-size: 1rem;
    }
    
    h6 {
        font-size: 0.875rem;
    }
}

@media (min-width: 1200px) { /* Zeige Icons an aber nur auf Desktop */
    #icons-desktop {
        display: block;
        width: 100%;
    }
    
    #icons-mobile {
        display: none;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.25rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }
    
    h5 {
        font-size: 1.25rem;
    }
    
    h6 {
        font-size: 1rem;
    }
}

.model-cars{
    width: 100%; 
    height: 500px;
}

.horizontal-scroll {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
.scroll-wrapper {
    display: flex;
    gap: 2rem;
    height: 100%;
    padding: 2rem;
}

.card {
    min-width: 10%;
    max-width: 35%;
    height: 400px;
    background: #1f1f1f;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.stats-container {
    color: #000;
    background-color: #fc0;
    min-width: 100%;
    padding: 20px 50px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  