h1 {
    font-size: 52px;
}
.test {
    color: aqua;   
}
body {
    color: aliceblue;
    background-color: grey;
}

.button {
    background-color: brown;
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin-right: 10px;
}

.col {
    border: 2px solid red;
}
.col-12 {
    border: 2px solid yellow;
}
.col-sm-6.col-md-4 {
    border: 2px solid green;
}
.btn {
    background-color: green;
}
.btn:hover {
    background-color: green;
}